
@mixin container($bk) {
  $container-list: container-list($bk);
  $gutter: nth($gutters, $bk)/2;
  $selector-list: ();

  // @debug $container-list;

  @each $selector, $nested, $new-max-width, $fixed-width in $container-list {
    #{$selector} {
      @if $bk == 1 {
        @if $nested {
          margin-left: -$gutter;
          margin-right: -$gutter;
        } @else {
          margin-left: auto;
          margin-right: auto;

          @if $new-max-width {
            max-width: $new-max-width;
          } @else if $fixed-width {
            width: $fixed-width;
          } @else {
            max-width: $max-width;
          }
        }

        $selector-list: append($selector-list, unquote($selector), comma);

      } @else {
        @if $nested {
          margin-left: -$gutter;
          margin-right: -$gutter;
        } @else if $fixed-width {
          width: $fixed-width;
        }
      }
    }
  }

  @if $bk == 1 {
    #{$selector-list} {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}
