
@mixin grid($bk) {
  $grid-list: grid-list($bk);
  $selector-list: ();
  $gutter: nth($gutters, $bk)/2;

  // @debug $grid-list;

  @each $selector, $float, $offset-left, $offset-right, $gutter-left, $gutter-right, $width, $max-width, $container, $offset-only in $grid-list {

    #{$selector} {
      @if $bk == 1 and not $offset-only {
        float: if($float, $float, left);

        @if $max-width {
          max-width: fraction($max-width);
        }
      } @else if $float {
        float: $float;
      }

      @if $offset-left {
        margin-left: fraction($offset-left);
      }
      @if $offset-right {
        margin-right: fraction($offset-right);
      }

      // not output padding if $container true
      @if not $container {
        @if $gutter-left and $gutter-right {
          padding-left: fraction($gutter-left);
          padding-right: fraction($gutter-right);
        } @else if $gutter-left {
          padding-left: fraction($gutter-left);
          padding-right: $gutter;
        } @else if $gutter-right {
          padding-left: $gutter;
          padding-right: fraction($gutter-right);
        }
      }

      @if $width {
        width: fraction($width);
      }
    }

    @if not $gutter-left and not $gutter-right and not $container and not $offset-only {
      $selector-list: append($selector-list, unquote($selector), comma);
    }
  }

  // # Output the selectors which have padding together.
  @if $container-padding-list != () or $selector-list != () {
    #{join($container-padding-list, $selector-list, comma)} {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    // # Reset $container-padding-list at each breakpoint.
    $container-padding-list: () !global;
  }
}
