
// # Containers
$container: (
  ".container": (),
  ".container-gutter": (gutter: true),
  ".container-nested": (nested: true),
  ".container-width": (width: 100px 300px 600px 900px),
  ".container-max-width": (max-width: 1280px),
  ".container-min-width": (min-width: 600px)
);

// # Grids
$grid: (
  ".grid-float": (
    width: 1/3,
    float: right left null right
  ),
  ".grid-offset-left": (
    width: 1/2,
    offset-left: 0 null 30px 1/4
  ),
  ".grid-offset-right": (
    width: 1/2,
    float: right,
    offset-right: 0 null 30px 1/4
  ),
  ".grid-gutter-left": (
    width: 1/2,
    gutter-left: 0 null 5% 30px
  ),
  ".grid-gutter-right": (
    width: 1/2,
    gutter-right: 0 null .05 30px
  ),
  ".grid-width": (
    width: 1 null .5 1/4
  ),
  ".grid-max-width": (
    max-width: 800px
  ),
  ".grid-container": (
    width: 2/3,
    container: true
  ),


  ".grid-offset-only": (
    offset-left: 0 null 30px 1/3
  ),
  ".more, .than, .one, .selectors": (
    width: 1/2
  )
);

@import '../../rebar.scss';

/* slicer */

body {
  @include slicer(-1) {
    opacity: 1;
  }
  @include slicer(1) {
    opacity: 1;
    &:before {
      content: "slice 1";
    }
  }
  @include slicer(-2) {
    opacity: 1;
  }
  @include slicer(2) {
    opacity: 1;
    &:before {
      content: "slice 2";
    }
  }
  @include slicer(-3) {
    opacity: 1;
  }
  @include slicer(3) {
    opacity: 1;
    &:before {
      content: "slice 3";
    }
  }
  @include slicer(1, -2) {
    opacity: 1;
  }
  @include slicer(2, -3) {
    opacity: 1;
  }
  @include slicer(1, -3) {
    opacity: 1;
  }
}

@media screen and (min-device-width: query-breakpoint(1)) and (max-device-width: query-breakpoint(-3)) {
  body {
    opacity: 1;
  }
}


#css:after {
  content: 'Sass mobile first'
}
